<% @exp_products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.brand %></td>
      <td><%= product.category %></td>
      <td><%= product.quantity %></td>
      <td><%= product.exp_date %></td>
      <td><%= product.price %></td>
      <td><%= product.state %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
