<p id="notice"><%= notice %></p>

<button id="state1" class="stateButton"><%= link_to '', states_good_path %>Good Product</button>
<button id="state2"  class="stateButton"><%= link_to '', states_almost_exp_path %>Almost Expired Product</button>
<button id="state3"  class="stateButton"><%= link_to '', states_expired_path %>Expired Product</button>

<h1 id="ProductsTitle">Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>category</th>
      <th>Quantity</th>
      <th>Exp date</th>
      <th>Price</th>
      <th>State</th>
      <th>Show</th>
      <th>Sell</th>
      <th>Edit</th>
      <th>Delete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand %></td>
        <td><%= product.category %></td>
        <td><%= product.quantity %></td>
        <td><%= product.exp_date %></td>
        <td><%= product.price %></td>
        <td><%= product.state %></td>
        <td class="actionTable"><%= link_to  image_tag("show-30x30.png", class: "img-responsive"), product %></td>
        <td class="actionTable"><%= link_to 'Sell', sale_path(product), method: :patch %></td>
        <td class="actionTable"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class="actionTable"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="stateButton"><%= link_to 'New Product', new_product_path %> </button>
